body {
	background-color: #505258;
}

.container {
	width: 1180px;
	margin: 100px auto;
}

h1 {
	color: aliceblue;
	font-size: 48px;
	font-weight: bold;
}

p {
	color: black;
}

h2 {
	color: aliceblue;
	font-size: 34px;
}

.text {
	color: cornsilk;
	font-size: 28px;
}

.delete2, .run {
	color: palevioletred;
	font-size: 28px;
	background-color: papayawhip;
	padding: 5px;
	border-radius: 5px;
}

.back , .btn-slide{
	background-color: aliceblue;
	border-radius: 4px;
	color: blue;
	padding: 10px 30px;
	font-size: 24px;
	text-decoration: none;
	margin-right: 10px;
}

.ol {
	width: 1180px;
}

.li {
	display: inline-block;
	width: 500px;
}

.li-card {
	margin: 0;
	width: 450px;
	height: 300px;
	background-color: aliceblue;
	border-radius: 4px;
}

.li-p {
	font-size: 32px;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 100px;
}

.card-a {
	margin: 0 155px;
}

.zadanie-a, .card-a {
	color: white;
	font-size: 26px;
	background-color: #2b77df;
	padding: 20px;
	text-decoration: none;
	border-radius: 4px;
}

.zadanie-a {
	display: inline-block;
	margin-bottom: 40px;
	margin-right: 10px;
}

.kit {
	width:500px;
	border-radius: 5px;
}